{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "{% static 'css/inventario-insumos-style.css' %}">
    <title>COLEGIO</title>
</head>

<body>
    <header>
        <nav class="navbar-inventario">
            <div class="nav-leftside">
            </div>
            <div class="nav-middleside">
                <h1><b>ESTUDIANTES</b></h1>
            </div>
            <div class="nav-rightside">
                <ul class="nav-item-container">
                    <li>
                        
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <aside class="inventario-aside">
        </aside>
        <section>
            <!-- TOP BUTTONS -->
            <div class="top-buttons">
                <button type="button"> <a href="./registrar_entrada" target="_blank">Registrar Entrada</a></button>
            </div>
            
            <!-- SEARCH INPUT -->
            <div class="search-input">
                <input type="text" autocomplete="name" placeholder="Nombre Producto">
                <button type="submit">Buscar</button>
            </div>
            
            
            <!-- TABLE -->
            <table id="inventario-insumos" class="inventario">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Carne</th>
                   
                    <th>Acciones</th>
                </tr>

                {% for p in insumos %}
                <tr>
                    <td>{{ p.id }}</td>
                    <td>{{ p.nombre }}</td>
                    <td>{{ p.apellido }}</td>
                    <td>{{ p.carne }}</td>
                    <td>
                        <a href="{% url 'editar_insumos' p.id %}"> Editar </a>
                        <a href="{% url 'eliminar_insumos' p.id %}"> Eliminar </a>
                    </td>
                </tr>
                {% endfor %}
            </table>
            <!-- FIN TABLE -->

        </section>
    </main>
    <footer></footer>
</body>

</html>